<launch>
  <param name="/use_sim_time" value="true"/>

  <!-- Map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find second_project)/maps/map.yaml"/>

  <!-- Stage simulation -->
  <node pkg="stage_ros" type="stageros" name="stageros" args="$(find second_project)/world/robot.world">
    <param name="base_watchdog_timeout" value="0.2"/>
  </node>

  <!-- AMCL -->
  <node pkg="amcl" type="amcl" name="amcl">
    <rosparam file="$(find second_project)/config/amcl_params.yaml" command="load"/>
    <param name="initial_pose_x" value="0"/>
    <param name="initial_pose_y" value="0"/>
    <param name="initial_pose_a" value="0"/>
  </node>

  <!-- Move base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find second_project)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find second_project)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find second_project)/config/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(find second_project)/config/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(find second_project)/config/base_local_planner_params.yaml" command="load"/>
    <rosparam file="$(find second_project)/config/move_base_params.yaml" command="load"/>
  </node>

  <!-- Goal publisher -->
  <node pkg="second_project" type="goal_publisher" name="goal_publisher">
    <param name="csv_file" value="$(find second_project)/csv/goals.csv"/>
  </node>

  <!-- RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find second_project)/rviz/navigation.rviz"/>

</launch>